/**
 * Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap'); 
/* font-family: 'JetBrains Mono', monospace;s */

* {
	font-family: 'JetBrains Mono', monospace;
}

.body {
	background-color: #d9d9d9;
}

/**
 * Classes
 */
.title {
	width: 100%;
}

.title-div {
	text-align: center;
}

.menu {
	width: 100%;
	display: inline-flex;
}
.menu-option {
	width: 10em;
	height: 1.5em;
	margin: 10px auto;
	text-align: center;
	background-color: #eeeeee;
	border-radius: 1em;
	transition: 0.5s;
}

.menu-option:hover {
	text-shadow: 10px 1px 3px #363636;
}

.col2 {
	display: inline-flex;
	width: 100%;
}

.col-tech {
	display: block;
	margin: 0 auto;
}

.main {
	display: none;
}

.coluna {
	margin: 0 auto;
	width: 100%;
}


.speel {
	display: inline-flex;
}

.speel > p {
	margin-left: 10px;
	margin-top: 30px;
}

.knowledges {
	width: 40px;
	height: 40px;
}

.cols-tech {
	display: inline-flex;
	width: 100%;
}

.image {
	margin-top: 2%;
}

 .profile {
	width: 20em;
	padding: 8px 10px auto;
	border: 1px solid;
	border-radius: 10px;
}

 .imageProfile {
	margin-top: 5px; 
	border-radius: 20px;
	height: 20em;
	width: 15em;
}

.instagramButtons {
	width: 100%;
}

 .instagramBtn {
	margin: 0 auto;
	filter: brightness(0%);
	width: 55px;
	height: 50px;
}

.instagramHeart {
	transition: 1s;
}

.instagramHeart:hover {
	width: 45px
	height 40px;
}

/**
 * Ids
 */
